<h3>Utente</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Livello: <%= @user.level %></p>
<p>Interno/Esterno: <%= @user.intext %></p>
<%= link_to 'Aggiorna utente', edit_user_path %>
<%= link_to 'Indietro', users_path %>
