<%= simple_form_for(@customer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inline">
    <%= f.input :name, :label => "nome" %>
    <%= f.input :service, :label => "servizio" %>
    <%= f.input :address, :label => "indirizzo" %>
    <%= f.input :city, :label => "Città"  %>
    <%= f.input :postal_code, :label => "CAP" %>
    <%= f.input :codfisc, :label => "Cod.Fiscale" %>
    <%= f.input :child_name, :label => "Nome del Bambino" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
