<h1>Elenco Clienti</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Indirizzo</th>
      <th>Città</th>
      <th>CAP</th>
      <th>Cod.fiscale</th>
      <th>Nome del bambino</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.address %></td>
        <td><%= customer.city %></td>
        <td><%= customer.postal_code %></td>
        <td><%= customer.codfisc %></td>
        <td><%= customer.child_name %></td>
        <td><%= link_to 'Vedi', customer %></td>
        <td><%= link_to 'Aggiorna', edit_customer_path(customer) %></td>
        <td><%= link_to 'Cancella', customer, method: :delete, data: { confirm: 'sei sicuro ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuovo Cliente', new_customer_path %>
