<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Servizio:</strong>
  <%= @customer.service %>
</p>

<p>
  <strong>Indirizzo:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Località:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>CAP:</strong>
  <%= @customer.postal_code %>
</p>

<p>
  <strong>Codfisc:</strong>
  <%= @customer.codfisc %>
</p>

<p>
  <strong>Nome bambino:</strong>
  <%= @customer.child_name %>
</p>

<%= link_to 'Aggiorna', edit_customer_path(@customer) %> |
<%= link_to 'Indietro', customers_path %>
