<%= simple_form_for(@timesheet) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :year, label: "Anno" %>
    <%= f.input :month, label: "Mese" %>
    <%= f.input :status, label: "Stato", as: :boolean, boolean_style: :inline %>
    <%= f.input :user_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
