<% if current_user.admin? %>
  <%= form_tag timesheets_path, :method => 'get', :class => "form-search" do %>
  <%= text_field_tag :user_id, nil, :placeholder => "Utente", 
      :class => "input-medium search-query" %>
  <%= text_field_tag :year, nil, :placeholder => "anno", 
      :class => "input-medium search-query" %>
  <%= submit_tag "Cerca!", :user_id => nil, :class => "btn" %>
  <% end %>
<% else %>
  <h1>Elenco timesheets di <span><%= current_user.name %></span></h1>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>Anno</th>
      <th>Mese</th>
      <th>Stato</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @timesheets.each do |timesheet| %>
      <tr>
        <td><%= timesheet.user.name %></td>
        <td><%= timesheet.year %></td>
        <td><%= timesheet.mese %></td>
        <td><%= timesheet.status %></td>
        <td><%= link_to 'Aggiorna', controller: "timedays", action: "index", foglio: timesheet.id  %></td> 
        <td><%= link_to 'Chiudi', edit_timesheet_path(timesheet) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


