<%= simple_form_for(@timeday) do |f| %>
  <%= f.error_notification %>
  <div class="form-inline"> 
    <table class="table-condensed">
    <td><%= f.association :codice1, collection: Timecode.all(order: 'descr'),label_method: :descr %></td>
    <td><%= f.input :hour1, label: "Ore 1" %></td>
    <td><%= f.input :km1, label: "Km 1" %></td>
    <td><%= f.association :cliente1, label_method: :name %></td>
  </table>
  <p>
  <table class="table-condensed">
    <td><%= f.association :codice2, collection: Timecode.all(order: 'descr'),label_method: :descr %></td>
    <td><%= f.input :hour2, label: "Ore 2" %></td>
    <td><%= f.input :km2, label: "Km 2" %></td>
    <td><%= f.association :cliente2, label_method: :name %></td>
  </table>
  <p>
  <table class="table-condensed">
    <td><%= f.association :codice3, collection: Timecode.all(order: 'descr'),label_method: :descr %></td>
    <td><%= f.input :hour3, label: "Ore 3" %></td>
    <td><%= f.input :km3, label: "Km 3" %></td>
    <td><%= f.association :cliente3, label_method: :name %></td>
  </table>
  <table class="table-condensed">
    <td><%= f.association :codice4, collection: Timecode.all(order: 'descr'),label_method: :descr %></td>
    <td><%= f.input :hour4, label: "Ore 4" %></td>
    <td><%= f.input :km4, label: "Km 4" %></td>
    <td><%= f.association :cliente4, label_method: :name %></td>
  </table
  <%= f.input :note %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
