<h1>Timesheet<span> mese di </span><span><%= @stefa.mese %></span></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Giorno</th>
      <th>Cod.1</th>
      <th>Ore 1</th>
      <th>Km. 1</th>
      <th>Cod.2</th>
      <th>Ore 2</th>
      <th>Km. 2</th>
      <th>Cod.3</th>
      <th>Ore 3</th>
      <th>Km. 3</th>
      <th>Note</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @timedays.each do |timeday| %>
      <% if timeday.day.wday == 0 or timeday.day.wday == 6 %>
        <tr class="warning">
          <td><%= timeday.giorno + ' ' + timeday.day.strftime("%d/%m/%Y")  %></td>
          <td><%= unless timeday.codice1.nil?
                  timeday.codice1.descr
                  end%></td>
          <td><%= timeday.hour1 %></td>
          <td><%= timeday.km1 %></td>
          <td><%= unless timeday.codice2.nil?
                  timeday.codice2.descr
                  end%></td>
          <td><%= timeday.hour2 %></td>
          <td><%= timeday.km2 %></td>
          <td><%= unless timeday.codice3.nil?
                  timeday.codice3.descr 
                  end%></td>
          <td><%= timeday.hour3 %></td>
          <td><%= timeday.km3 %></td>
          <td><%= timeday.note %></td>
          <td><%= link_to 'Aggiorna', edit_timeday_path(timeday) %></td>
        </tr>
      <% else %>
        <tr class="info">
          <td><%= timeday.giorno + ' ' + timeday.day.strftime("%d/%m/%Y") %></td>
          <td><%= unless timeday.codice1.nil?
                  timeday.codice1.descr
                  end%></td>
          <td><%= timeday.hour1 %></td>
          <td><%= timeday.km1 %></td>
          <td><%= unless timeday.codice2.nil?
                  timeday.codice2.descr
                  end%></td>
          <td><%= timeday.hour2 %></td>
          <td><%= timeday.km2 %></td>
          <td><%= unless timeday.codice3.nil?
                  timeday.codice3.descr 
                  end%></td>
          <td><%= timeday.hour3 %></td>
          <td><%= timeday.km3 %></td>
          <td><%= timeday.note %></td>
          <td><%= link_to 'Aggiorna', edit_timeday_path(timeday) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Timeday', new_timeday_path %>
