<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Login', new_user_session_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Aggiorna account', edit_user_registration_path %></li>
<% else %>
  <li><%= link_to 'Registrati', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Utenti', users_path %></li>
  <li><%= link_to 'Timesheet', timesheets_path %></li>
<% end %>
